@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
}

.content {
  height: 100%;
  width: 100%;
}

.container {
  max-width: 450px;
  margin: 0 auto;
}

header {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px #999;
  background: #fff;
}

.header-wrapp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: 'MuseoModerno', cursive;
  font-weight: bold;
  font-size: 28px;
}

.gap {
  height: 0vh;
}

.main {
  min-height: 80vh;
  width: 100%;
  background: #fafafa;
}

.main-wrapp {
  height: 100%;
}

.footer {
  height: 10vh;
  background: #fff;
  width: 100%;
  display: flex;
}

.footer-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  max-width: 35px;
}